SemanticAnalyzer/bin/Debug/SemanticAnalyzer.vshost.exe
SemanticAnalyzer/bin/Debug/SemanticAnalyzer.vshost.exe.manifest
SemanticAnalyzer/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
SemanticAnalyzer/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
SemanticAnalyzer/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
SemanticAnalyzer/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
SemanticAnalyzer/bin/Debug/Newtonsoft.Json.dll
SemanticAnalyzer/bin/Debug/RestSharp.dll
SemanticAnalyzer/bin/Debug/RestSharp.xml
SemanticAnalyzer/bin/Debug/SemanticAnalyzer.exe
SemanticAnalyzer/bin/Debug/SemanticAnalyzer.pdb
SemanticAnalyzer/obj/Debug/SemanticAnalyzer.csproj.FileListAbsolute.txt
SemanticAnalyzer/obj/Debug/SemanticAnalyzer.csprojResolveAssemblyReference.cache
SemanticAnalyzer/obj/Debug/SemanticAnalyzer.exe
SemanticAnalyzer/obj/Debug/SemanticAnalyzer.pdb
packages/RestSharp.105.2.3/RestSharp.105.2.3.nupkg
packages/RestSharp.105.2.3/lib/MonoAndroid10/RestSharp.dll
packages/RestSharp.105.2.3/lib/MonoAndroid10/RestSharp.xml
packages/RestSharp.105.2.3/lib/MonoTouch10/RestSharp.dll
packages/RestSharp.105.2.3/lib/MonoTouch10/RestSharp.xml
packages/RestSharp.105.2.3/lib/Xamarin.iOS10/RestSharp.dll
packages/RestSharp.105.2.3/lib/Xamarin.iOS10/RestSharp.xml
packages/RestSharp.105.2.3/lib/net35/RestSharp.dll
packages/RestSharp.105.2.3/lib/net35/RestSharp.xml
packages/RestSharp.105.2.3/lib/net4-client/RestSharp.dll
packages/RestSharp.105.2.3/lib/net4-client/RestSharp.xml
packages/RestSharp.105.2.3/lib/net4/RestSharp.dll
packages/RestSharp.105.2.3/lib/net4/RestSharp.xml
packages/RestSharp.105.2.3/lib/net45/RestSharp.dll
packages/RestSharp.105.2.3/lib/net45/RestSharp.xml
packages/RestSharp.105.2.3/lib/net451/RestSharp.dll
packages/RestSharp.105.2.3/lib/net451/RestSharp.xml
packages/RestSharp.105.2.3/lib/net452/RestSharp.dll
packages/RestSharp.105.2.3/lib/net452/RestSharp.xml
packages/RestSharp.105.2.3/lib/net46/RestSharp.dll
packages/RestSharp.105.2.3/lib/net46/RestSharp.xml
packages/RestSharp.105.2.3/lib/sl5/RestSharp.dll
packages/RestSharp.105.2.3/lib/sl5/RestSharp.xml
packages/RestSharp.105.2.3/lib/windowsphone8/RestSharp.dll
packages/RestSharp.105.2.3/lib/windowsphone8/RestSharp.xml
packages/RestSharp.105.2.3/lib/windowsphone81/RestSharp.dll
packages/RestSharp.105.2.3/lib/windowsphone81/RestSharp.xml
packages/RestSharp.105.2.3/readme.txt
packages/Newtonsoft.Json.6.0.4/tools/install.ps1
packages/Newtonsoft.Json.6.0.4/lib/portable-net45+wp80+win8+wpa81/Newtonsoft.Json.xml
packages/Newtonsoft.Json.6.0.4/lib/portable-net45+wp80+win8+wpa81/Newtonsoft.Json.dll
packages/Newtonsoft.Json.6.0.4/lib/portable-net40+sl5+wp80+win8+wpa81/Newtonsoft.Json.xml
packages/Newtonsoft.Json.6.0.4/lib/portable-net40+sl5+wp80+win8+wpa81/Newtonsoft.Json.dll
packages/Newtonsoft.Json.6.0.4/lib/netcore45/Newtonsoft.Json.xml
packages/Newtonsoft.Json.6.0.4/lib/netcore45/Newtonsoft.Json.dll
packages/Newtonsoft.Json.6.0.4/lib/net45/Newtonsoft.Json.xml
packages/Newtonsoft.Json.6.0.4/lib/net45/Newtonsoft.Json.dll
packages/Newtonsoft.Json.6.0.4/lib/net40/Newtonsoft.Json.xml
packages/Newtonsoft.Json.6.0.4/lib/net40/Newtonsoft.Json.dll
packages/Newtonsoft.Json.6.0.4/lib/net35/Newtonsoft.Json.xml
packages/Newtonsoft.Json.6.0.4/lib/net35/Newtonsoft.Json.dll
packages/Newtonsoft.Json.6.0.4/lib/net20/Newtonsoft.Json.xml
packages/Newtonsoft.Json.6.0.4/lib/net20/Newtonsoft.Json.dll
packages/Newtonsoft.Json.6.0.4/Newtonsoft.Json.6.0.4.nupkg
packages/Microsoft.AspNet.WebApi.Core.5.2.3/lib/net45/System.Web.Http.xml
packages/Microsoft.AspNet.WebApi.Core.5.2.3/lib/net45/System.Web.Http.dll
packages/Microsoft.AspNet.WebApi.Core.5.2.3/Microsoft.AspNet.WebApi.Core.5.2.3.nupkg
packages/Microsoft.AspNet.WebApi.Core.5.2.3/Content/web.config.transform
packages/Microsoft.AspNet.WebApi.Client.5.2.3/lib/portable-wp8+netcore45+net45+wp81+wpa81/System.Net.Http.Formatting.xml
packages/Microsoft.AspNet.WebApi.Client.5.2.3/lib/portable-wp8+netcore45+net45+wp81+wpa81/System.Net.Http.Formatting.dll
packages/Microsoft.AspNet.WebApi.Client.5.2.3/lib/net45/System.Net.Http.Formatting.xml
packages/Microsoft.AspNet.WebApi.Client.5.2.3/lib/net45/System.Net.Http.Formatting.dll
packages/Microsoft.AspNet.WebApi.Client.5.2.3/Microsoft.AspNet.WebApi.Client.5.2.3.nupkg
SemanticAnalyzer/bin/Debug/System.Web.Http.xml
SemanticAnalyzer/bin/Debug/System.Web.Http.dll
SemanticAnalyzer/bin/Debug/System.Net.Http.Formatting.xml
SemanticAnalyzer/bin/Debug/System.Net.Http.Formatting.dll
SemanticAnalyzer/SemanticAnalyzer.csproj.orig
.vs/SemanticAnalyzer/v14/.suo
SemanticAnalyzer/MeaningCloud.cs.orig
SemanticAnalyzer/Program.cs.orig
SemanticAnalyzer/SemanticAnalyzer.userosscache
SemanticAnalyzer/Consts.cs.orig
SemanticAnalyzer/FileUtils.cs.orig
